// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    .block.filter {
        margin-bottom: @indent__xl;

        .filter-title {
            margin-bottom: @indent__base;
            display: none;
            strong {
                font-size: 18px;
            }
        }
        .filter-content {
            .block-subtitle {
                font-size: 32px;
                font-family: @font-family-din__base_bold;
                padding-bottom: 10px;
                border-bottom: 1px solid @color__grey5;
                width: 100%;
                margin-bottom: 0px;
            }
            .filter-category {
                margin-bottom: 13px;
                .filter-options-title {
                    font-size: 32px;
                    font-family: @font-family-din__base_bold;
                    padding-bottom: 10px;
                    border-bottom: 1px solid @color__grey5;
                    color: @color-black;
                }
                li.item {
                    padding: 5px 0px;
                    display: none;
                    &.selected-category {
                        display: block;
                    }
                    .am_shopby_link_selected {
                        color: @color-black;
                        font-family: @font-family-din__base_bold;
                    }
                    input[type="radio"] {
                        display: none;
                    }
                }
                .items-children.-folding {
                    padding-left: 0px;
                    .item {
                        margin: 0px;
                    }
                }
                .showing-sub {
                    > li.item {
                        display: block;
                    }
                }
            }
            .filter-options-item {
                &:not(.filter-category) {
                    .filter-options-title {
                        font-size: 14px;
                        font-weight: normal;
                        color: #000;
                        padding: 15px 45px 15px 0;
                        font-family: @font-family-din__base_bold;
                        border-bottom: 1px solid #e3e5e5;
                        margin: 0px;
                        position: relative;
                        text-transform: uppercase;
                        cursor: pointer;
                        &:after {
                            content: '+';
                            text-indent: 0;
                            position: absolute;
                            right: 0;
                            top: 0px;
                            font-size: 18px;
                            color: #000;
                            height: 100%;
                            font-family: verdana,sans-serif;
                            font-weight: bold;
                            line-height: 42px;
                            margin-right: 21px;
                        }
                    }
                    &.active {
                        .filter-options-title {
                            border-bottom: none;
                            &:after {
                                content: "_";
                                line-height: 28px;
                                padding-right: 2px;
                            }
                        }
                        .filter-options-content {
                            border-bottom: 1px solid #e3e5e5;
                        }
                    }
                    .filter-options-content {
                        display: none;
                        margin-bottom: 0px;
                        li.item {
                            padding: 5px 0px;
                            input[type="radio"] {
                                display: none;
                            }
                            &:first-child {
                                padding-top: 0px;
                            }
                        }
                    }
                }
            }

            a {
                font-size: 12px;
                color: @color__grey;
                font-weight: normal;
            }
        }
        .filter-clear-all ,
        .filter-current {
            display: none;
        }
        .filter-options-item {
            position: relative;
            .amshopby-remove-attribute {
                position: absolute;
                top: 3px;
                right: 20%;
                font-size: 11px;
                z-index: 1;
                color: #000;
                text-decoration: none;
                padding: 0;
                height: 42px;
                line-height: 42px;
                font-family: @font-family-din__base_bold;
                text-transform: uppercase;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
        .action {
            &.clear {
                &.filter-clear {
                    font-family: @font-family-din__base_bold;
                    color: @color-black;
                    text-transform: uppercase;
                }
            }
        }
    }
    .page-main {
        .filter-current {
            .filter-current-subtitle {
                font-size: 13px;
                color: @color__grey;
                font-weight: normal;
                margin-bottom: 0px;
                display: inline-block;
                vertical-align: middle;
                line-height: 26px;
                margin-right: 12px;
                font-family: "Arial";
            }
            .items {
                display: inline-block;
                vertical-align: top;
                .filter-label {
                    display: none;
                }
                .filter-value {
                    color: @color__grey1;
                }
                > .item {
                    background: #ddd;
                    border: 1px solid #e3e5e5;
                    padding: 0 25px 5px 10px;
                    margin-right: 5px;
                    height: 26px;
                    line-height: 26px;
                    margin-bottom: 0px;
                    box-sizing: border-box;
                    position: relative;
                    display: inline-block;
                    vertical-align: top;
                    color: @color__grey1;
                    font-family: "Arial";
                    .action {
                        &.remove {
                            position: absolute;
                            top: -2px;
                            right: -3px;
                            .lib-icon-font(
                                @_icon-font-content: @icon-remove,
                                @_icon-font-size: 20px,
                                @_icon-font-position: after,
                                @_icon-font-color : @color__grey1,
                                @_icon-font-display: block
                            );
                            &:after {
                                line-height: 26px;
                                font-size: 30px;
                            }
                            span {
                                display: none;
                            }
                        }
                    }
                }
            }
            & + .toolbar-products {
                margin-top: -33px;
                margin-bottom: 0px;
            }
        }
    }
    .block-subtitle {
        display: inline-block;
        margin-bottom: @indent__s;
    }

    .filter-current {
        .item {
            margin-bottom: @indent__s;
            .action {
                &.remove {
                    float: right;
                    font-size: 11px;
                    font-family: @font-family-din__base_bold;
                    color: @color-black;
                    text-transform: uppercase;
                }
            }
        }

        .filter-label {
            display: inline-block;
            font-weight: @font-weight__bold;
            vertical-align: top;
            text-transform: uppercase;
            &:after {
                content: ':';
            }
        }

        + .filter-actions {
            margin-bottom: 13px;
        }
    }

    .filter-options-content {
        .filter-count-label {
            &:extend(.abs-visually-hidden all);
        }
    }

    .filter-options {
        margin: 0;

        .filter-options-title {
            .lib-heading(h4);
            margin: 0 0 @indent__s;
            word-break: break-all;
        }

        .filter-options-content {
            margin: 0 0 @indent__m;

            .item {
                margin-bottom: 3px;
            }
        }

        .count {
            .lib-css(color, @text__color__muted);
            display: none;
            &:before {
                content: '(';
            }

            &:after {
                content: ')';
            }
        }
    }

    .items {
        &:extend(.abs-reset-list all);
    }

    .filtered {
        .items {
            margin: 15px 0;
        }

        .item {
            margin-bottom: 6px;
            padding-left: 22px;
            position: relative;

            .label {
                font-weight: @font-weight__bold;
            }

            .action.remove {
                &:extend(.abs-remove-button-for-blocks all);
                left: -6px;
                position: absolute;
                top: 0;
            }
        }

        & + .actions {
            margin-bottom: 35px;
        }
    }
    .current-filter-container {
        float: left;
        margin-top: 10px;
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .page-with-filter {
        .columns {
            .sidebar-main {
                .lib-vendor-prefix-order(0);
            }
        }
    }
    .block.filter {
        margin-bottom: 0px;
        .filter-content {
            .filter-category {
                .filter-options-title {
                    font-size: 16px;
                    font-weight: normal;
                    color: #000;
                    padding: 15px 45px 15px 0;
                    font-family: @font-family-din__base_bold;
                    border-bottom: 1px solid #e3e5e5;
                    margin: 0px;
                    position: relative;
                    text-transform: uppercase;
                    cursor: pointer;
                    &:after {
                        content: '+';
                        text-indent: 0;
                        position: absolute;
                        right: 0;
                        top: 0px;
                        font-size: 24px;
                        color: #000;
                        height: 100%;
                        font-family: verdana,sans-serif;
                        font-weight: bold;
                        line-height: 42px;
                        margin-right: 15px;
                    }
                }
                &.active {
                    .filter-options-title {
                        border-bottom: none;
                        &:after {
                            content: "_";
                            line-height: 28px;
                            padding-right: 2px;
                        }
                    }
                    .filter-options-content {
                        border-bottom: 1px solid #e3e5e5;
                    }
                }
            }
            > .block-subtitle {
                width: 49%;
                text-align: left;
                height: 35px;
                line-height: 35px;
                padding: 0 10px;
                font-size: 13px;
                box-sizing: border-box;
                border: 1px solid #b4b5b4;
                border-radius: 3px;
                font-weight: normal;
                font-family: @font-family-din__base;
            }
        }
        .filter-options {
            display: none;
            &.filter-category-container {
                display: block;
            }
            .block-subtitle {
                background: #f1f2f2;
                width: 49%;
                text-align: left;
                height: 35px;
                line-height: 35px;
                padding: 0 10px;
                border: 1px solid @color__grey5;
                font-size: 13px;
                font-family: @font-family-din__base;
            }
            &.filter-attribute-container {
                margin-top: 10px;
                border: 1px solid #b4b5b4;
                transition: .8s ease-in-out;
                background: #f1f2f2;
                box-sizing: border-box;
                padding: 0px 3%;
                .swatch-option{
                    &.text {
                        background: none;
                    }
                }
                .filter-options-item {
                    margin-top: 3px;
                }
            }
        }
    }
    .page-products {
        .page-title {
            padding: 15px;
            font-size: 18px;
            text-align: left;
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .block.filter {
        .filter-content {
            .filter-category {
                .filter-options-content {
                    display: block !important;
                }
            }
        }
    }
}
