<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Sales\Controller\Adminhtml\Order\AddComment" type="OnitsukaTiger\Rma\Controller\Adminhtml\Order\AddComment" />
    <preference for="Magento\Framework\Stdlib\DateTime\Timezone"
                type="OnitsukaTiger\Rma\Model\DateTime\Timezone" />
</config>
