<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <maxqtyconfiguration>
            <maxqtyconfig>
                <enable>0</enable>
                <max_qty>2</max_qty>
            </maxqtyconfig>
        </maxqtyconfiguration>
    </default>
</config>
