<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <customer>
            <startup>
                <redirect_hompage>1</redirect_hompage>
            </startup>
            <address>
                <length_of_postcode>5</length_of_postcode>
            </address>
            <account_information>
                <shoes_size>0</shoes_size>
            </account_information>
        </customer>
        <customer_address_validate>
            <general>
                <enable_limitations>0</enable_limitations>
            </general>
        </customer_address_validate>
    </default>
</config>
