<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_order_place_after">
        <observer name="after_place_order" instance="Cpss\Crm\Observer\PlaceOrderAfter" />
    </event>
    <event name="email_order_set_template_vars_before">
        <observer name="email_order_set_template_vars_before_sendmail" instance="Cpss\Crm\Observer\SetPointsToEmail" />
    </event>
    <event name="sales_quote_address_collect_totals_after">
        <observer name="savePoints" instance="Cpss\Crm\Observer\SavePoints" />
    </event>
    <event name="checkout_submit_all_after">
        <observer name="setInvoicedDiscount" instance="Cpss\Crm\Observer\SetUsedPointsAndDiscount"/>
    </event>
    <event name="sales_order_creditmemo_save_after">
        <observer name="creditmemo_point" instance="Cpss\Crm\Observer\Admin\CreditMemoPoint"/>
    </event>
    <event name="sales_order_shipment_save_after">
        <observer name="invoice_fullpoint" instance="Cpss\Crm\Observer\FullPointShipmentAfter" />
    </event>
    <event name="sales_order_payment_refund">
        <observer name="creditmemo_change_status" instance="Cpss\Crm\Observer\CreditMemo\CreditMemoStatus"/>
    </event>
    <event name="checkout_onepage_controller_success_action">
        <observer name="cpss_checkout_onepage_controller_success_action" instance="Cpss\Crm\Observer\DeductUsedPointsOrderSuccess" />
    </event>
</config>
