<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
	<acl>
		<resources>
            <resource id="Magento_Backend::admin">
                <resource id="Seoulwebdesign_KakaoSync::Customer" title="Customer" sortOrder="10" />
				<resource id="Magento_Backend::stores">
					<resource id="Magento_Backend::stores_settings">
						<resource id="Magento_Config::config">
							<resource id="Seoulwebdesign_KakaoSync::config_seoulwebdesign_kakaosync" title="kakaosync"/>
						</resource>
					</resource>
				</resource>
			</resource>
		</resources>
	</acl>
</config>
