<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <kerry>
            <webhook>
           		<url_hook>https://www.websiteurl.com/rest/V1/shiping_status</url_hook>
            </webhook>
            <general>
                <enable>1</enable>
                
                <mode>0</mode>
            </general>
           
        </kerry>
         <carriers>
            <kerryshipping>
                <active>1</active>
                <sallowspecific>0</sallowspecific>
                <model>Clickend\Kerry\Model\Carrier\Shipping</model>
                <name>Kerry Express</name>
                <price>10.00</price>
                <title>Kerry Express</title>
                <specificerrmsg>This shipping method is not available. To use this shipping method, please contact us.</specificerrmsg>
                <handling_type>F</handling_type>
            </kerryshipping>
        </carriers>
    </default>
</config>