<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <netsuite>
            <order_sync_multishipment>
                <store>1</store>
            </order_sync_multishipment>
        </netsuite>
    </default>
</config>
