<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_order_invoice_save_after">
        <observer name="ot_preorder_sales_order_invoice_save_after" instance="OnitsukaTiger\PreOrders\Observer\PreOrderSalesOrderAfterSave" />
    </event>
    <event name="checkout_submit_all_after">
        <observer name="onitsukatiger_checkout_submit_all_after" instance="OnitsukaTiger\PreOrders\Observer\CheckoutSubmitAllAfter" />
    </event>
</config>
