<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <catalog>
            <productalert>
                <email_stock_preorder_template>catalog_productalert_email_stock_preorder_template</email_stock_preorder_template>
            </productalert>
        </catalog>
    </default>
</config>
