.admin__menu .item-asics.parent.level-0 > a:before {
    content: '';
    background-image:url('@{baseDir}OnitsukaTiger_Base/images/logo.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 32px;
    background-position: center;
    height: 35px;
}
