// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  _____________________________________________

@form-field__vertical-indent__desktop: 29px;
@form-calendar-icon__color: @primary__color;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    input[type="text"],
    input[type="password"],
    input[type="url"],
    input[type="tel"],
    input[type="search"],
    input[type="number"],
    input[type="datetime"],
    input[type="email"] {
        font: 100% @font-family-din__base_medium;
        height: 40px;
        padding: 5px;
        border: 1px solid @color__grey5;
        border-radius: 3px;
        &.mage-error {
            border-color: @form-element-validation__border-error;
        }
    }
    .fieldset {
        .lib-form-fieldset();
        margin-bottom: 20px;
        &:last-child {
            margin-bottom: @indent__base;
        }
        input[type="checkbox"] {
            margin-top: 0px;
            top: 0px;
        }
        > .field,
        > .fields > .field {
            .lib-form-field();
            margin: 10px 0;
            &.no-label {
                > .label {
                    &:extend(.abs-visually-hidden all);
                }
            }

            &.choice {
                .label {
                    display: inline;
                    font-weight: normal;
                }
            }
            input[type="text"],
            input[type="password"],
            input[type="url"],
            input[type="tel"],
            input[type="search"],
            input[type="number"],
            input[type="datetime"],
            input[type="email"] {
                font: 100% @font-family-din__base;
            }
            .label {
                color: #53524b;
                font-weight: normal;
                .column:not(.main) & {
                    font-weight: normal;
                }
            }

            .field.choice {
                margin-bottom: @indent__s;

                &:last-child {
                    margin-bottom: 0;
                }
            }

            input[type=file] {
                margin: @indent__xs 0;
            }
        }
        > .field.required > .label:after,
        > .fields > .field.required > .label:after,
        > .field._required > .label:after,
        > .fields > .field._required > .label:after {
            display: inline-block;
            vertical-align: bottom;
            padding-left: 3px;
        }
    }

    .legend + .fieldset,
    .legend + div {
        clear: both;
    }

    .legend {
        strong {
            margin-left: @indent__xs;
        }
    }

    fieldset.field {
        border: 0;
        padding: 0;
    }

    .field {
        &.date {
            &:extend(.abs-field-date all);

            .time-picker {
                display: inline-block;
                margin-top: @indent__s;
                white-space: nowrap;
            }
        }

        .message {
            &.warning {
                margin-top: @indent__s;
            }
        }
    }

    .field-error,
    div.mage-error[generated] {
        margin-top: 7px;
    }

    .field-error {
        .lib-form-validation-note();
    }

    .product-options-wrapper {
        .date {
            &.required {
                div[for*='options'] {
                    &.mage-error {
                        display: none !important;
                    }
                }
            }
        }
    }

    .field .tooltip {
        .lib-tooltip(right);
        .tooltip-content {
            min-width: 200px;
            white-space: normal;
        }
    }

    input:focus ~ .tooltip .tooltip-content,
    select:focus ~ .tooltip .tooltip-content {
        display: block;
    }
    select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background: url('../images/drop-down.png') 95% center no-repeat;
        padding-right: 25px;
        font-size: 13px;
        font-family: @font-family-din__base;
        height: 44px;
        border-radius: 3px;
        min-width: 140px;
        &.ui-datepicker-month ,
        &.ui-datepicker-year
        {
            min-width: 0px;
        }
    }
    ._has-datepicker {
        ~ .ui-datepicker-trigger {
            .lib-button-reset();
            .lib-icon-font(
            @_icon-font-content: @icon-calendar,
            @_icon-font-color: @primary__color__lighter,
            @_icon-font-size: @icon-calendar__font-size,
            @_icon-font-line-height: @icon-calendar__font-size,
            @_icon-font-display: block,
            @_icon-font-text-hide: true
            );
            display: inline-block;
            vertical-align: middle;

            &:focus {
                box-shadow: none;
                outline: 0;
            }
        }
    }

    //
    //  Sidebar forms
    //  -----------------------------------------

    .sidebar {
        .fieldset {
            margin: 0;

            > .field:not(.choice) >,
            .fields > .field {
                &:not(:last-child) {
                    margin: 0 0 @form-field__vertical-indent;
                }

                .label {
                    margin: 0 0 4px;
                    padding: 0 0 @indent__xs;
                    text-align: left;
                    width: 100%;
                }

                .control {
                    width: 100%;
                }
            }
        }
    }
}

//
// Mobile
//
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .fieldset {
        > .field ,
        > .fields > .field {
            margin: 0px;
            .label {
                margin-bottom: 0px;
                line-height: 40px;
                display: block;
                width: 100%;
                box-sizing: border-box;
            }
            &.required ,
            &._required {
                > .label {
                    &:after {
                        vertical-align: top;
                        line-height: 40px;
                    }
                }
            }
        }
    }
}
//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .fieldset {
        .legend {
            &:extend(.abs-margin-for-forms-desktop all);
            margin-bottom: 10px;
        }

        > .field {
            .lib-form-field-type-revert();
            margin: 10px 0px;
        }
    }
}
