// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Blank theme overrides
//  _____________________________________________

//  Theme file should contain declarations (overrides) ONLY OF EXISTING variables
//  Otherwise this theme won't be available for parent nesting
//  All new variables should be placed in local theme lib or local theme files
@font-family-body: 'Helvetica neue';
@font-family-droid__base: 'Droid Serif';
@font-family-social__base: 'Social';
@font-family-din__base: 'DIN Next W01 Regular';
@font-family-din__base_medium: 'DIN Next W01 Medium';
@font-family-din__base_bold: 'DIN Next W01 Bold';
@font-family-verdana_bold: 'verdana';
@font-family-matter: 'Matter';
@font-family-matter-sq: 'Matter SQ';
@font-family-arial: 'Arial';

@color__grey: #666;
@color__grey1: #999;
@color__grey2: #424242;
@color__grey3: #333;
@color__grey4: #eee;
@color__grey5: #b4b5b4;
@color__grey6: #4d4d4c;
@color__grey7: #888888;
@color__green: #40c04a;
@border_color__grey3: #464646;
@border_color_table__grey3: #ccc;
@button_color__red: #7f0019;
@rating-icon__active__color: #7f0019;
@price_color: #808080;
@toolbar_color: #7f7f7f;
@tab_background: #f1f2f2;
@link_color_blue: #0000EE;
@link__color: @color-black;
@link__hover__color: @color-black;
@button__background: @color-black;
@button__border: @color-black;
@button__color: @color-white;
@button__hover__color: @color-white;
@button__hover__background: @color-black;
@button__hover__border: @color-black;
@button_height: 45px;
@breadcrumbs__font-size: 10px;
@breadcrumbs-current__color: @color-black;
@product-name-link__color : @color-black;
@product-name-link__color__visited : @color-black;
@product-name-link__color__hover : @color-black;
@link__hover__text-decoration : none;
@product-name-link__color__active : @color-black;

@form-field-type-label-inline__width: 30%;
@form-field-type-control-inline__width: 70%;
@form-field-type-label-inline__padding: 10px 8px 0 0;
@form-field-label-asterisk__font-size: 14px;
@form-field-label-asterisk__margin: 0px;
@form-field-label-asterisk__line-height: 14px;
@form-field-label-asterisk__font-weight: bold;

@h1__font-size: 36px;
@h1__font-family: @font-family-din__base_bold;
@h1__font-size-desktop: 36px; // 40px

@h2__font-size: 24px;
@h2__font-family: @font-family-din__base_bold;
@h2__font-color : @color__grey3;

@h3__font-size: 24px;
@h3__font-family: @font-family-din__base_bold;
@h3__font-color : @color__grey3;

@h4__font-size: 24px;
@h4__font-family: @font-family-din__base_bold;
@h4__font-weight: @heading__font-weight__base;
@h4__font-color : @color__grey3;

@h5__font-size: ceil((@font-size__base * .85));
@h5__font-family: @font-family-din__base_bold;
@h5__font-weight: @heading__font-weight__base;
@h5__font-color : @color__grey3;

@h6__font-size: ceil((@font-size__base * .7));
@h6__font-family: @font-family-din__base_bold;
@h6__font-color : @color__grey3;
