<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <preference for="Magento\InventoryShippingAdminUi\Controller\Adminhtml\SourceSelection\ProcessAlgorithm"
                type="OnitsukaTiger\InventorySourceAlgorithm\Controller\Adminhtml\SourceSelection\ProcessAlgorithm" />
    <preference for="Magento\InventoryShipping\Model\InventoryRequestFromOrderFactory"
                type="OnitsukaTiger\InventorySourceAlgorithm\Model\InventoryShipping\InventoryRequestFromOrderFactory" />
    <preference for="Magento\InventorySourceSelection\Model\Algorithms\PriorityBasedAlgorithm"
                type="OnitsukaTiger\InventorySourceAlgorithm\Model\Algorithms\PriorityBasedAlgorithm" />

    <type name="Magento\InventorySourceSelectionApi\Model\SourceSelectionService">
        <arguments>
            <argument name="sourceSelectionMethods" xsi:type="array">
                <item name="onesource"
                      xsi:type="string">OnitsukaTiger\InventorySourceAlgorithm\Model\Algorithms\OneSourcePriorityAlgorithm</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\InventorySourceSelectionApi\Model\GetSourceSelectionAlgorithmList">
        <arguments>
            <argument name="availableAlgorithms" xsi:type="array">
                <item name="onesource" xsi:type="array">
                    <item xsi:type="string" name="code">onesource</item>
                    <item xsi:type="string" name="title" translatable="true">One Source Priority</item>
                    <item xsi:type="string" name="description" translatable="true">Algorithm which provides Source Selections based on one source priority from the source</item>
                </item>
            </argument>
        </arguments>
    </type>

</config>
