.private-key-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#row_sftp_pos_private_key_pem
#row_sftp_pos_private_key_selected
#row_sftp_pos_private_key_selector {
    display: none;
}
