<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <general_vn>
            <customer>
                <disable>0</disable>
            </customer>
            <checkout>
                <disable>0</disable>
            </checkout>
        </general_vn>
    </default>
</config>
