<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Seoulwebdesign_Base::admin_menu" title="Seoul Web Design" sortOrder="100"/>
            </resource>
        </resources>
    </acl>
</config>
