<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
	<menu>		
		<add id="OnitsukaTiger_Favorite::onitsukatiger_favorite_favorite" title="Favorite"
			 module="OnitsukaTiger_Favorite" sortOrder="90"
			 resource="OnitsukaTiger_Favorite::onitsukatiger_favorite_favorite"
			 parent="OnitsukaTiger_Base::asics" action="onitsukatiger_favorite/favorite/index"/>
	</menu>
</config>
