<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Sales\Block\Adminhtml\Order\View">
        <plugin name="add_button_delivered" type="OnitsukaTigerKorea\Sales\Plugin\Block\Adminhtml\Order\ButtonPlugin"/>
    </type>
    <preference for="\Magento\Sales\Block\Adminhtml\Order\Invoice\View" type="OnitsukaTigerKorea\Sales\Preference\Magento\Sales\Block\Adminhtml\Order\Invoice\View"/>
    <preference for="\Magento\Sales\Block\Adminhtml\Order\Creditmemo\View" type="OnitsukaTigerKorea\Sales\Preference\Magento\Sales\Block\Adminhtml\Order\Creditmemo\View"/>
</config>
