<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!--@subject {{trans "You've got a new password"}} @-->
<!--@vars {
"var customer.name":"Customer Name",
"var store.frontend_name":"Store Name",
"var store_email":"Store Email",
"var store_phone":"Store Phone"
} @-->
{{template config_path="design/email/header_template"}}

<div class="customer-account-container">
    {{block class="Magento\Cms\Block\Block" area='frontend' block_id="email-resetpassword-banner"}}
    <p class="title-account">{{trans "You've got a new password"}}</p>
    <p class="greeting">{{trans "Hello %customer_name," customer_name=$customer.firstname}}</p>
    <p>{{trans "We're sending you this message to confirm that you have successfully changed your password."}}</p>
    <a target="_blank" href="{{config path="web/secure/base_url"}}customer/account/login" class="button-account"><b><span>{{trans "Log In"}}</span></b></a>
</div>
{{template config_path="design/email/footer_template"}}
