<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!--@subject {{trans "Reset your Onitsuka Tiger password"}} @-->
<!--@vars {
"var store.frontend_name":"Store Name",
"var this.getUrl($store, 'customer/account/')":"Customer Account URL",
"var this.getUrl($store,'customer/account/createPassword',[_query:[id:$customer.id,token:$customer.rp_token],_nosid:1])":"Password Reset URL",
"var customer.name":"Customer Name"
} @-->
{{template config_path="design/email/header_template"}}

<div class="customer-account-container">
    {{block class="Magento\Cms\Block\Block" area='frontend' block_id="email-resetpassword-banner"}}
    <p class="title-account">{{trans "Reset Your Password"}}</p>
    <p class="greeting">{{trans "Hello %customer_name," customer_name=$customer.firstname}}</p>
    <p>{{trans "We have received a request to reset the password for your Onitsuka Tiger account. To proceed, please click the button below. This temporary link will expire in 24 hours—please be sure to change it once you’re logged in. If you did not request a password reset, you can safely ignore this email."}}</p>
    <a target="_blank" href="{{var this.getUrl($store,'customer/account/createPassword',[_query:[id:$customer.id,token:$customer.rp_token],_nosid:1])}}" class="button-account-reset"><b><span>{{trans "Reset My Password"}}</span></b></a>
</div>
{{template config_path="design/email/footer_template"}}
