<?xml version="1.0"?>
<!--
Copyright © 2016 Magestore. All rights reserved.
See COPYING.txt for license details.
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Gdx_CustomLogging::gdx_logger" title="Config Logger" sortOrder="110"/>
            </resource>
        </resources>
    </acl>
</config>
