<?xml version="1.0"?>
<!--
/**
 * Copyright © 2025 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="portone" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>PortOne Card Payment</label>
                <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="title" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Title</label>
                    <validate>required-entry</validate>
                    <depends><field id="active">1</field></depends>
                </field>
                <field id="payment_channel_key" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Payment Channel Key</label>
                    <validate>required-entry</validate>
                    <depends><field id="active">1</field></depends>
                </field>
                <field id="store_id" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Store ID</label>
                    <validate>required-entry</validate>
                    <depends><field id="active">1</field></depends>
                </field>
                <field id="api_key" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>API Key</label>
                    <validate>required-entry</validate>
                    <depends><field id="active">1</field></depends>
                </field>
                <field id="pay_method" translate="label" type="text" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Payment Method</label>
                    <validate>required-entry</validate>
                    <depends><field id="active">1</field></depends>
                </field>
            </group>
            <group id="portonetransfer" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>PortOne Bank Transfer Payment</label>
                <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="title" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Title</label>
                    <validate>required-entry</validate>
                    <depends><field id="active">1</field></depends>
                </field>
                <field id="payment_channel_key" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Payment Channel Key</label>
                    <validate>required-entry</validate>
                    <depends><field id="active">1</field></depends>
                </field>
                <field id="store_id" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Store ID</label>
                    <validate>required-entry</validate>
                    <depends><field id="active">1</field></depends>
                </field>
                <field id="api_key" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>API Key</label>
                    <validate>required-entry</validate>
                    <depends><field id="active">1</field></depends>
                </field>
                <field id="pay_method" translate="label" type="text" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Payment Method</label>
                    <validate>required-entry</validate>
                    <depends><field id="active">1</field></depends>
                </field>
            </group>
            <group id="portone_easypay" translate="label" type="text" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>PortOne Simple Payment (Easy Payment)</label>
                <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="title" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Title</label>
                    <validate>required-entry</validate>
                    <depends><field id="active">1</field></depends>
                </field>
                <field id="payment_channel_key" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Payment Channel Key</label>
                    <validate>required-entry</validate>
                    <depends><field id="active">1</field></depends>
                </field>
                <field id="store_id" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Store ID</label>
                    <validate>required-entry</validate>
                    <depends><field id="active">1</field></depends>
                </field>
                <field id="api_key" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>API Key</label>
                    <validate>required-entry</validate>
                    <depends><field id="active">1</field></depends>
                </field>
                <field id="pay_method" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Payment Method</label>
                    <validate>required-entry</validate>
                    <depends><field id="active">1</field></depends>
                </field>
                <field id="easy_pay_provider" translate="label" type="text" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Easy Pay Provider</label>
                    <validate>required-entry</validate>
                    <depends><field id="active">1</field></depends>
                </field>
            </group>
            <group id="portone_tosspay" translate="label" type="text" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Toss Pay Payment</label>
                <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="title" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Title</label>
                    <validate>required-entry</validate>
                    <depends><field id="active">1</field></depends>
                </field>
                <field id="payment_channel_key" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Payment Channel Key</label>
                    <validate>required-entry</validate>
                    <depends><field id="active">1</field></depends>
                </field>
                <field id="store_id" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Store ID</label>
                    <validate>required-entry</validate>
                    <depends><field id="active">1</field></depends>
                </field>
                <field id="api_key" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>API Key</label>
                    <validate>required-entry</validate>
                    <depends><field id="active">1</field></depends>
                </field>
                <field id="pay_method" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Payment Method</label>
                    <validate>required-entry</validate>
                    <depends><field id="active">1</field></depends>
                </field>
                <field id="easy_pay_provider" translate="label" type="text" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Easy Pay Provider</label>
                    <validate>required-entry</validate>
                    <depends><field id="active">1</field></depends>
                </field>
            </group>
            <group id="portone_npay" translate="label" type="text" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Npay instance Payment</label>
                <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="title" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Title</label>
                    <validate>required-entry</validate>
                    <depends><field id="active">1</field></depends>
                </field>
                <field id="payment_channel_key" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Payment Channel Key</label>
                    <validate>required-entry</validate>
                    <depends><field id="active">1</field></depends>
                </field>
                <field id="store_id" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Store ID</label>
                    <validate>required-entry</validate>
                    <depends><field id="active">1</field></depends>
                </field>
                <field id="api_key" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>API Key</label>
                    <validate>required-entry</validate>
                    <depends><field id="active">1</field></depends>
                </field>
                <field id="pay_method" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Payment Method</label>
                    <validate>required-entry</validate>
                    <depends><field id="active">1</field></depends>
                </field>
                <field id="easy_pay_provider" translate="label" type="text" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Easy Pay Provider</label>
                    <validate>required-entry</validate>
                    <depends><field id="active">1</field></depends>
                </field>
            </group>
            <group id="portone_kakaopay" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>kakaopay app Payment</label>
                <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="title" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Title</label>
                    <validate>required-entry</validate>
                    <depends><field id="active">1</field></depends>
                </field>
                <field id="payment_channel_key" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Payment Channel Key</label>
                    <validate>required-entry</validate>
                    <depends><field id="active">1</field></depends>
                </field>
                <field id="store_id" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Store ID</label>
                    <validate>required-entry</validate>
                    <depends><field id="active">1</field></depends>
                </field>
                <field id="api_key" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>API Key</label>
                    <validate>required-entry</validate>
                    <depends><field id="active">1</field></depends>
                </field>
                <field id="pay_method" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Payment Method</label>
                    <validate>required-entry</validate>
                    <depends><field id="active">1</field></depends>
                </field>
                <field id="easy_pay_provider" translate="label" type="text" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Easy Pay Provider</label>
                    <validate>required-entry</validate>
                    <depends><field id="active">1</field></depends>
                </field>
            </group>
            <group id="portonepaycopay" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Portone Payco Pay Payment</label>
                <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="title" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Title</label>
                    <validate>required-entry</validate>
                    <depends><field id="active">1</field></depends>
                </field>
                <field id="payment_channel_key" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Payment Channel Key</label>
                    <validate>required-entry</validate>
                    <depends><field id="active">1</field></depends>
                </field>
                <field id="store_id" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Store ID</label>
                    <validate>required-entry</validate>
                    <depends><field id="active">1</field></depends>
                </field>
                <field id="api_key" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>API Key</label>
                    <validate>required-entry</validate>
                    <depends><field id="active">1</field></depends>
                </field>
                <field id="pay_method" translate="label" type="text" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Payment Method</label>
                    <validate>required-entry</validate>
                    <depends><field id="active">1</field></depends>
                </field>
                <field id="easy_pay_provider" translate="label" type="text" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Easy Pay Provider</label>
                    <validate>required-entry</validate>
                    <depends><field id="active">1</field></depends>
                </field>
            </group>
            <group id="portonesamsungpay" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Portone Samsung Pay Payment</label>
                <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="title" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Title</label>
                    <validate>required-entry</validate>
                    <depends><field id="active">1</field></depends>
                </field>
                <field id="payment_channel_key" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Payment Channel Key</label>
                    <validate>required-entry</validate>
                    <depends><field id="active">1</field></depends>
                </field>
                <field id="store_id" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Store ID</label>
                    <validate>required-entry</validate>
                    <depends><field id="active">1</field></depends>
                </field>
                <field id="api_key" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>API Key</label>
                    <validate>required-entry</validate>
                    <depends><field id="active">1</field></depends>
                </field>
                <field id="pay_method" translate="label" type="text" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Payment Method</label>
                    <validate>required-entry</validate>
                    <depends><field id="active">1</field></depends>
                </field>
                <field id="easy_pay_provider" translate="label" type="text" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Easy Pay Provider</label>
                    <validate>required-entry</validate>
                    <depends><field id="active">1</field></depends>
                </field>
            </group>
            <group id="portoneapplepay" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Portone Apple Pay Payment</label>
                <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="title" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Title</label>
                    <validate>required-entry</validate>
                    <depends><field id="active">1</field></depends>
                </field>
                <field id="payment_channel_key" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Payment Channel Key</label>
                    <validate>required-entry</validate>
                    <depends><field id="active">1</field></depends>
                </field>
                <field id="store_id" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Store ID</label>
                    <validate>required-entry</validate>
                    <depends><field id="active">1</field></depends>
                </field>
                <field id="api_key" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>API Key</label>
                    <validate>required-entry</validate>
                    <depends><field id="active">1</field></depends>
                </field>
                <field id="pay_method" translate="label" type="text" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Payment Method</label>
                    <validate>required-entry</validate>
                    <depends><field id="active">1</field></depends>
                </field>
                <field id="easy_pay_provider" translate="label" type="text" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Easy Pay Provider</label>
                    <validate>required-entry</validate>
                    <depends><field id="active">1</field></depends>
                </field>
            </group>
        </section>
    </system>
</config>
