<?xml version="1.0" ?>
<!--
/**
 * Clickend Kerry module registration
 * @package Clickend\Kerry
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
	<router id="admin">
		<route frontName="kerry" id="kerry">
			<module before="Magento_Backend" name="Clickend_Kerry"/>
		</route>
	</router>
</config>