
@media (max-width: 1023.9px) $$ @media (min-width: 750px){main.page-main{width:100vw;}}
@media (max-width: 1023.9px) $$ @media (min-width: 1024px){main.page-main{width:100vw;}}
main.top {padding-top:110px;}
main.top picture {display:inline-block;width:100%;height:auto;}
main.top picture img {width:100%;height:auto;vertical-align:top;}
