<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="after_update_order_information">
        <observer name="store_staff_inventory_sales_source_deduction_processor" instance="OnitsukaTiger\NetSuiteStoreShipping\Observer\SourceDeductionWhenUpdateOrderInformationSuccess"/>
    </event>
    <event name="controller_action_inventory_populate_source_with_data">
        <observer name="update_data_shipping_from_store" instance="OnitsukaTiger\NetSuiteStoreShipping\Observer\UpdateDataShippingFromStore"/>
    </event>

</config>
