<?xml version="1.0"?>
<!--
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2020 Amasty (https://www.amasty.com)
 * @package Amasty_Rma
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="korean_address">
            <group id="customer" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Customer</label>
                <field id="enable" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Enable Module</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>
                        <![CDATA[Select <b>Yes</b> to enable this module.<br />
                        . Enable or disable the module depending on the website (SG, TH, MY, KR)]]>
                    </comment>
                </field>
            </group>
            <group id="customer_account" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Customer Account</label>
                <field id="allow_delete_customer" translate="label comment" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Allow Deleting Customer Account</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="delete_customer_message" translate="label comment" type="textarea" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Message of Deleting</label>
                    <depends>
                        <field id="allow_delete_customer">1</field>
                    </depends>
                </field>
                <field id="email_template_delete_customer" translate="label comment" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Email Template</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                </field>
                <field id="sender" translate="label" type="select" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="3" canRestore="1">
                    <label>Email Sender</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Identity</source_model>
                </field>
                <field id="email_subject_delete_customer" translate="label comment" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Subject</label>
                </field>
                <field id="delete_customer_email_copy_to" translate="label comment" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1"  canRestore="1">
                    <label>Operation Support Team Email Address</label>
                    <comment>Comma-separated.</comment>
                    <validate>validate-emails</validate>
                </field>
                <field id="email_template_delete_customer_email_copy_to" translate="label comment" type="select" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Operation Support Team Email Template</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                </field>
                <field id="email_copy_to_sender" translate="label" type="select" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="3" canRestore="1">
                    <label>Operation Support Team Email Sender</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Identity</source_model>
                </field>
                <field id="email_subject_delete_customer_copy_to" translate="label comment" type="text" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Operation Support Team Subject</label>
                </field>
            </group>
             <group id="newsletter_unsubscription" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Newsletter Unsubscription</label>
                <field id="un_email_copy_to" translate="label comment" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1"  canRestore="1">
                    <label>Operation Support Team Email Address</label>
                    <comment>Comma-separated.</comment>
                    <validate>validate-emails</validate>
                </field>
                <field id="email_template_un_email_copy_to" translate="label comment" type="select" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Operation Support Team Email Template</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                </field>
                <field id="un_email_copy_to_sender" translate="label" type="select" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="3" canRestore="1">
                    <label>Operation Support Team Email Sender</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Identity</source_model>
                </field>
                <field id="email_subject_un_copy_to" translate="label comment" type="text" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Operation Support Team Subject</label>
                </field>
            </group>
        </section>
    </system>
</config>