<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!--@subject {{trans "Welcome! Get 10% Off Your First Purchase Here"}} @-->
<!--@vars {
"var subscriber_data.confirmation_link":"Subscriber Confirmation URL",
"var coupon.code":"Coupon Code auto generate"
} @-->

{{template config_path="design/email/header_template"}}
<div class="order-container-information">
    <div class="newsletter-subscription-container">
        <img
            src="{{view url='/images/email/newsletter-logo.jpg'}}"
            alt="{{trans "Welcome! Get 10% Off Your First Purchase Here"}}"
        />
        <p class="title-subscriber">{{trans "THANK YOU FOR SIGNING UP"}}</p>
        <p class="message-content">
            {{trans "You will now receive latest news, promotions and offers from us. Additionally, get 10% off your first purchase by using this discount code upon checkout"}}
            <br/>
            <br/>
            <b>{{var coupon.code}}</b>
            <br/>
            <br/>
            {{trans "Voucher code is valid for 30 days upon receiving this email. Discount is applicable to all items across"}}
            <a href="{{config path="web/secure/base_url"}}">onitsukatiger.com</a>
        </p>
        <p class="shop-now-button">
            <a href="{{config path="web/secure/base_url"}}">{{trans "Shop Now"}}</a>
        </p>
    </div>
</div>
{{template config_path="design/email/footer_template"}}
