<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="amsorting">
            <group id="customize_sort_default" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Customize Sorting</label>
                <field id="enable_automatic" translate="label comment" type="select" sortOrder="10" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Enable</label>
                    <comment>Enable Sorting with product the same data</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="attribute" translate="label comment" type="select" sortOrder="30" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <depends>
                        <field id="enable_automatic">1</field>
                    </depends>
                    <label>Use Attribute for Sorting</label>
                    <source_model>OnitsukaTiger\Sorting\Model\Config\Source\Attribute</source_model>
                </field>
                <field id="order_by" translate="label comment" type="select" sortOrder="40" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <depends>
                        <field id="enable_automatic">1</field>
                    </depends>
                    <label>Use Attribute for Sorting</label>
                    <source_model>OnitsukaTiger\Sorting\Model\Config\Source\Orderby</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
