<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <omise>
                <omise_cron_frequency_to_update_blank_order_status>0 * * * *</omise_cron_frequency_to_update_blank_order_status>
                <omise_hours_to_update_blank_order_status>1</omise_hours_to_update_blank_order_status>
            </omise>
        </payment>
    </default>
</config>
