<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <virtualType name="OmiseInternetbankingAdapter" type="OnitsukaTiger\Omise\Model\Method\Refund">
        <arguments>
            <argument name="code" xsi:type="const">Omise\Payment\Model\Config\Internetbanking::CODE</argument>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form</argument>
            <argument name="infoBlockType" xsi:type="string">Magento\Payment\Block\Info</argument>
            <argument name="valueHandlerPool" xsi:type="object">OmiseAPMInternetbankingValueHandlerPool</argument>
            <argument name="validatorPool" xsi:type="object">OmiseAPMInternetbankingValidatorPool</argument>
            <argument name="commandPool" xsi:type="object">OmiseAPMCommandPool</argument>
        </arguments>
    </virtualType>

    <virtualType name="OmiseCcAdapter" type="OnitsukaTiger\Omise\Model\Method\Refund">
        <arguments>
            <argument name="code" xsi:type="const">Omise\Payment\Model\Config\Cc::CODE</argument>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form\Cc</argument>
            <argument name="infoBlockType" xsi:type="string">Magento\Payment\Block\Info</argument>
            <argument name="valueHandlerPool" xsi:type="object">OmiseCCValueHandlerPool</argument>
            <argument name="validatorPool" xsi:type="object">OmiseAPMCCValidatorPool</argument>
            <argument name="commandPool" xsi:type="object">OmiseCreditCardCommandPool</argument>
        </arguments>
    </virtualType>
    <preference for="OnitsukaTiger\Rma\Block\Adminhtml\Order\Creditmemo\Create\Items" type="OnitsukaTiger\Omise\Block\Adminhtml\Order\Creditmemo\Create\Items" />
</config>
