<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
      <add id="Magento_Reports::report_products_restockreports" title="Restock Reports" translate="title" module="OnitsukaTiger_RestockReports" sortOrder="20" parent="Magento_Reports::report_products" action="report/restock/index" resource="Magento_Reports::restockreports"/>  
    </menu>
</config>
