<label class="onepay-tnc" style="display: flex;">
    <input type="checkbox" name="termsAndConditionAgree" id="termsAndConditionAgree" value="" data-bind="checked: termsChecked" >
    <div class="onepay-terms" data-bind="html: window.checkoutConfig.onepay_checkout_content_terms_vn"></div>
</label>
<div class="mage-error terms-and-conditions-error-message"
     generated="true"
     style="display: none !important;">
    <span class="message-content" data-bind="i18n: 'This is a required field.'"></span>
</div>
<p class="onepay-note">
    <span class="note-content" data-bind="i18n: 'Please note that promotional items, socks, and underwear are not eligible for return or refund.'"></span>
</p>
