& when (@media-common = true) {
    .table-returns-items{
        .col.id {
            text-transform: uppercase;
        }
    }

    .fieldset.login {
        .actions-toolbar{
            .secondary a {
                text-decoration: underline;
            }
        }
    }
    .modal-popup {
        &.address-edit-popup {
            .form-address-edit {
                &.form-address-edit-popup {
                    .fieldset {
                        .field.city {
                            display: none;
                        }
                    }
                }
            }
        }
    }
    .text-black{
        color: #000;
    }
    .m-t-15{
        margin-top: 15px;
    }
    .m-tb-15{
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .customer-account-login{
        .login-container{
            form{
                .fieldset{
                    .actions-toolbar{
                        .secondary{
                            margin-left: 0;
                        }
                    }
                }
            }
        }
        .form-login{
            .note{
                padding-bottom: 15px;
                display: block;
            }
        }
        .login-container{
            .block-customer-login{
                .fieldset{
                    margin-bottom: 0;
                }
                .fieldset:after{
                    display: none;
                }
            }
        }
        #custom-login-btn{
            background: #fee500;
            padding: 11px 20px 12px 40px;
            font-size: 15px;
            display: flex;
            color: #000;
            text-decoration: none;
            align-items: center;
            justify-content: center;
            text-align: center;
            border-radius: 4px;
            width: ~"calc(80% - 76px)";
            box-sizing: border-box;
            position: relative;
            &:after{
                background:url("../images/chat-icon.png") no-repeat;
                content: '';
                display: inline-block;
                width: 21px;
                height: 19px;
                position: absolute;
                left: 15px;
            }
        }
    }
    .tooltip-message {
        display: none;
        position: absolute;
        top: 100% !important;
        left: 200px !important;
        background-color: #fff;
        color: #333;
        padding: 15px;
        border-radius: 5px;
        font-size: 14px;
        z-index: 1000;
        white-space: normal;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
        max-width: 300px;
        word-wrap: break-word;
        img {
            margin-top: 18px;
        }
    }
    .tooltip-message .tooltip-close {
        position: absolute;
        top: 5px;
        right: 5px;
        cursor: pointer;
        color: #333;
        font-size: 18px;
        font-weight: bold;
    }
    .tooltip-message .tooltip-close:hover {
        color: #ff0000;
    }
    .amasty_rma-guest-newreturn {
        .columns {
            .page-title-wrapper {
                display: none;
            }
        }
    }
    .create-account-popup-custome{
        div.modal-inner-wrap {
            max-width: 800px;
        }
    }
    #create-account-popup-modal{
        h2{
            margin-top: 0;
        }
    }
    #create-account-popup-modal-optional{
        h2{
            margin-top: 0;
        }
    }
    .custome-popup {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        outline: none;
        clear: both;
        z-index: 10001;
        position: fixed;
        left: 0;
        right: 0;
        margin: 0 auto;
        border-radius: 5px;
        max-width: 475px;
        width: 100%;
        top: 300px;
        height: auto;
    }
    .custome-modals-overlay-design {
        background-color: rgba(0, 0, 0, 0.7);
        bottom: 0;
        left: 0;
        position: fixed;
        right: 0;
        top: 0;
        padding: 0px 50px;
        z-index: 9999 !important;
    }
    .custome-popup-content{
        background: #ffffff;
        border-radius: 5px;
        margin: 5rem auto;
        max-width: 800px;
        color: #000;
        padding: 50px;
        box-shadow: 0 0 12px 2px rgba(0, 0, 0, 0.35);
        position: relative;
        a{
            background: #000;
            color: #fff;
            padding: 10px 20px;
            display: inline-block;
            margin-top: 20px;
        }
        .action-close {
            background-image: none;
            background: none;
            -moz-box-sizing: content-box;
            border: 0;
            box-shadow: none;
            line-height: inherit;
            margin: 0;
            padding: 0;
            text-shadow: none;
            font-weight: 400;
            display: inline-block;
            text-decoration: none;
            position: absolute;
            right: 10px;
            top: 3px;
            padding: 0px !important;
            &:before {
                font-family: system-ui;
                content: 'X';
                font-size: 20px;
                color: #7f0019;
            }
        }
        button:hover{
            background: none;
        }
    }
    .sales-guest-form{
        .order-details {
            .order-details-items.ordered {
                .order-title {
                    .order-return {
                        a {
                            padding: 10px 60px;
                            border: 1px solid #c9c9c9;
                            text-decoration: none;
                            &:hover{
                                background: #c9c9c9;
                                color: #000;
                            }
                        }
                    }
                    .rma-history {
                        margin-top: 15px;
                        ul {
                            margin-top: 10px;
                            li {
                                margin-bottom: 1px;
                            }
                        }
                    }
                }
            }
        }
    }

    .customer-account-create {
        .create.account{
            position: relative;
        }
        .account {
            .fieldset>.field.choice.subscribe_kakao.newsletter{
                label{
                    margin-left: -4px;
                }
            }
            .fieldset {
                >.field.choice.newsletter {
                    &.agreement {
                        display: grid;
                        margin-bottom: 10px;
                        a {
                            text-decoration: underline;
                        }
                        input[type="checkbox"] {
                            &.mage-error {
                                margin-bottom: 0;
                            }
                        }
                        .label{
                            grid-row: 2;
                            margin-left: 28px;
                            margin-top: -18px;
                            margin-bottom: 4px;
                            width: max-content;
                        }
                    }
                }
            }
        }
    }

    .login-container {
        .fieldset.login {
            .note {
                margin-bottom: 10px;
            }
        }
    }
    .orders-history {
        .note {
            margin-bottom: 10px;
        }
    }
    .order-details-items.ordered {
        .order-details-container {
            .order-items-list {
                .table-wrapper {
                    table {
                        tr {
                            td.item-info {
                                img[src*='placeholder'] {
                                    width: 80px;
                                    height: auto;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .order-details-items.ordered {
        .order-details-container{
            .order-head{
                padding: 14px 12px;
            }
            .info-box{
                display: none;
            }
            &.shipment-list {
                .order-head {
                    .shipment-track {
                        a {
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
    .amrma-products-table{
        .items-details-container{
            .items-description{
               .items-text{
                   font-size: 12px;
                   .items-link-email:hover{
                       text-decoration: underline;
                   }
               }
            }
            .items-container {
                .amrma-product-message {
                    .amrma-return-select {
                        &.condition {
                            display: none;
                        }
                    }
                }
            }
        }
    }
    .block-address-grid-container {
        .block-addresses-list {
            .address-empty {
                width: 100%;
                padding: 6px 0;
                border-color: #ccc;
                &:before {
                    width: 16px;
                    height: 14px;
                    top: 50%;
                    transform: translateY(-50%);
                    left: 14px;
                }
                h2 {
                    font-weight: 400;
                    font-size: 1.3rem;
                    line-height: 1.2em;
                    color: #000;
                    padding-left: 40px;
                    margin-bottom: 2px;
                }
                span {
                    padding-left: 40px;
                    font-size: 1.3rem;
                }
            }

        }
    }
    .form-edit-account,
    .form-create-account {
        .fieldset{
            >.field {
                &.date {
                    >.control.customer-dob {
                        div.mage-error[generated]{
                            position: relative;
                            margin-top: 7px;
                        }
                        .ui-datepicker-trigger {
                            position: absolute;
                            top: 0;
                            right: 0;
                        }

                    }
                }

            }
        }
    }
    .remove-account-toolbar {
        position: absolute;
        right: 0px;
        top: 0px;
    }
    .account.customer-account-edit {
        .columns {
            .column.main {
                position: relative;
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .text-center-mobile{
        text-align: center;
    }
    .customer-account-login{
        #custom-login-btn{
            width: 100%;
            margin-top: 10px;
            border-radius: 0;
            padding-right: 40px;
        }
        .login-container{
            .block-customer-login{
                .secondary{
                    a.action.remind{
                        line-height: inherit;
                        display: block;
                        margin-top: 20px;
                        margin-bottom: 15px;
                    }
                }
            }
        }
    }
    .customer-account-create {
        .tooltip-message{
            top: 100% !important;
            left: 0px !important;
        }
        .account {
            .fieldset {
                >.field.choice.newsletter {
                    &.newsletter-content {
                        margin-top: 30px;
                        margin-bottom: 20px;
                    }
                    &.message {
                        margin-bottom: 5px;
                    }
                }
            }
        }
    }
    .form {
        &.form-edit-account {
            margin-top: 30px;
        }
    }
}
@media screen and (max-width: 454px) {
    .sales-guest-form{
        .order-details {
            .order-details-items.ordered {
                .order-title {
                    .order-return {
                        padding: 20px 0;
                    }
                }
            }
        }
    }
}