<?xml version="1.0"?>
<!--
 Copyright (c) Vaimo Group. All rights reserved.
 See LICENSE_VAIMO.txt for license details.
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="catalog" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
            <group id="scene7_sync" translate="label" type="text" sortOrder="510" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Scene7 ASICS API Synchronization</label>
                <field id="scheduler_enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                    <label>Enabled nightly sync</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="cron_scheduler" translate="label comment" type="text" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                    <label>Sync Schedule</label>
                    <depends>
                        <field id="scheduler_enabled">1</field>
                    </depends>
                </field>
                <field id="base_url" translate="label comment" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>ASICS API URL</label>
                </field>
                <field id="region_suffix" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Region Suffix</label>
                </field>
                <field id="auth_user" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>API User</label>
                </field>
                <field id="auth_pass" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>API Password</label>
                </field>
            </group>
        </section>
    </system>
</config>
