// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  _____________________________________________

@autocomplete__background-color: @color-white;
@autocomplete__border: 1px solid @form-element-input__border-color;
@autocomplete-item__border: 1px solid @color-gray90;
@autocomplete-item__hover__color: @color-gray91;
@autocomplete-item-amount__color: @color-gray60;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .block-search {

        .block {
            &-title {
                display: none;
            }
        }

        .block-content {
            margin-bottom: 0;
        }

        .label {
            .lib-icon-font(
                @_icon-font-content: "\E906",
                @_icon-font-color: @color-white,
                @_icon-font-size: 14px,
                @_icon-font-line-height: 33px,
                @_icon-font-display: block,
                @_icon-font-text-hide: true
            );
            &:before {
                font-family: @font-family-social__base;
            }
            display: inline-block;
            float: right;

            &.active {
                + .control {
                    input {
                        position: static;
                    }
                }
            }
        }

        .action.search {
            display: none;
        }

        .control {
            border-top: 1px solid @border-color__base;
            clear: both;
            margin: 0 -@layout__width-xs-indent -1px;
            padding: 0 @layout__width-xs-indent;
        }

        input {
            left: -300%;
            margin: 15px 0;
            position: absolute;
        }

        .nested {
            display: none;
        }
    }
    .catalogsearch-result-index {
        .products.products-grid {
            margin-top: 49px;
        }
    }
    .search-autocomplete {
        &:extend(.abs-add-box-sizing all);
        display: none;
        margin-top: -15px;
        overflow: hidden;
        position: absolute;
        z-index: 3;

        ul {
            .lib-list-reset-styles();

            li {
                .lib-css(border-top, @autocomplete-item__border);
                cursor: pointer;
                margin: 0;
                padding: @indent__xs @indent__xl @indent__xs @indent__s;
                position: relative;
                text-align: left;
                white-space: normal;

                &:not(:empty) {
                    border-top: 0;
                    .lib-css(border, @autocomplete__border);
                    .lib-css(background, @autocomplete__background-color);
                }

                &:first-child {
                    border-top: none;
                }

                &:hover,
                &.selected {
                    .lib-css(background, @autocomplete-item__hover__color);
                }

                .amount {
                    .lib-css(color, @autocomplete-item-amount__color);
                    position: absolute;
                    right: 7px;
                    top: @indent__xs;
                }
            }
        }
    }

    .form.search.advanced {
        .fields.range {
            .field {
                &:first-child {
                    position: relative;

                    .control {
                        padding-right: 25px;

                        &:after {
                            content: ' \2013 ';
                            display: inline-block;
                            position: absolute;
                            right: 0;
                            text-align: center;
                            top: 6px;
                            width: 25px;
                        }
                    }
                }

                &:last-child {
                    position: relative;

                    div.mage-error[generated] {
                        left: 0;
                        position: absolute;
                        top: 32px;
                    }
                }

                &.with-addon {
                    .control {
                        padding-right: 45px;
                    }
                }
            }
        }

        .group.price {
            .addon {
                .addafter {
                    background: none;
                    border: 0;
                    padding-top: 6px;
                    position: absolute;
                    right: 0;
                    top: 0;
                }
            }
        }
    }

    .search.summary {
        margin-bottom: @indent__s;
    }
    .search-product-empty {
        padding-top: 7px;
        ul {
            margin-bottom: 15px;
            &.heading-search {
                li {
                    font-size: 15px;
                    color: @toolbar_color;
                    &.successmsg {
                        color: @toolbar_color;
                        font-size: 16px;
                        font-weight: normal;
                    }
                }
            }
            li {
                margin: 0px;
                padding: 0px 0px 5px 0px;
                list-style: none;
            }
        }
        .search-empty-container {
            ul {
                color: @color-black;
                &.searchtips {
                    li {
                        background: transparent url('../images/tipsbullet.png') no-repeat scroll 2px 5px;
                        padding-left: 18px;
                        padding-top: 0px;
                    }
                }
            }
            a {
                color: @link_color_blue;
                &:hover,
                &:active ,
                &:focus {
                    color: @link_color_blue;
                    text-transform: none;
                }
            }
        }
    }
    .catalogsearch-result-index {
        .breadcrumbs {
            display: none;
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .block-search {
        .block-content {
            margin-bottom: 0;
            position: relative;
            width: 100%;
            display: inline-block;
            vertical-align: top;
            box-sizing: border-box;
            padding: 0px 20px;
            .field {
                &.search {
                    position: relative;
                    width: 100%;
                    display: inline-block;
                    vertical-align: top;
                }
            }
            .control {
                border: none;
                margin: 0px;
                padding: 0px;
                z-index: 10;
            }
            input.input-text {
                width: 100%;
                border: 1px solid @color-black;
                height: 39px;
                border-radius: 20px;
                font-size: 13px;
                padding: 11px 16px 5px 15px;
                letter-spacing: 0.01em;
                position: relative;
                left: 0px;
                margin: 0px;
                &:focus {
                    box-shadow: none;
                }
            }
            .label {
                margin-right: 6px;
                margin-bottom: 28px;
                display: none;
                &:before {
                    font-size: 20px;
                    color: @color-white;
                    width: 20px;
                    height: 20px;
                    content: "";
                    background: url("../images/header-search.svg") center center no-repeat;
                }
            }
            .actions {
                max-height: 0px;
                overflow: hidden;
                float: right;
                position: relative;
                z-index: 1;
                margin-top: -32px;
                .action {
                    &.search {
                        display: block;
                        right: 0px;
                        bottom: 0px;
                        background: none;
                        border: none;
                        opacity: 1;
                        padding: 0px;
                        .lib-icon-font(
                            @_icon-font-content: "\E906",
                            @_icon-font-color: @color-white,
                            @_icon-font-size: 14px,
                            @_icon-font-line-height: 33px,
                            @_icon-font-display: block,
                            @_icon-font-text-hide: true
                        );
                        &:before {
                            content: "";
                            width: 34px;
                            height: 32px;
                        }
                    }
                }
            }
            .active {
                .control ,
                .actions {
                    max-height: 999px;
                }
            }
        }
    }
}


//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .block-search {
        margin-bottom: 0;
        position: relative;
        float: right;
        width: 203px;
        margin-top: 20px;
        .label {
            &:extend(.abs-visually-hidden-desktop all);
        }

        .control {
            border-top: 0;
            margin: 0;
            padding: 0;
        }

        .nested {
            display: none;
        }

        input {
            .lib-input-placeholder(@form-element-input-placeholder__color);
            margin: 0;
            position: static;
            width: 100%;
            border: 1px solid @color-black;
            height: 31px;
            border-radius: 15px;
            font-size: 10px;
            padding: 0 45px 0 13px;
            letter-spacing: 0.06em;
            box-sizing: border-box;
            vertical-align: top;
            &:focus {
                box-shadow: none;
            }
        }

        .action.search {
            display: inline-block;
            .lib-button-reset();
            &:before {
                height: 30px;
                width: 45px;
                content: "";
                background: url("../images/ico_header_search_01.svg") no-repeat center center/19px auto;
                display: inline-block;
                vertical-align: top;
            }
            position: absolute;
            right: 0px;
            top: 0px;
            z-index: 1;
            margin: 0px;
            padding: 0px;
            span {
                display: none;
            }
            &:focus {
                &:before {
                    .lib-css(color, @color-white);
                }
            }
            &[disabled] {
                opacity: 1;
            }
        }
    }

    .search-autocomplete {
        margin-top: 0;
    }
}
