<?xml version="1.0"?>
<!--
 Copyright (c) Vaimo Group. All rights reserved.
 See LICENSE_VAIMO.txt for license details.
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="AdobeCampaignNewsletterConfigProvider" type="Vaimo\AEPFileExport\Model\ConfigProvider">
        <arguments>
            <argument name="folderConfigPath" xsi:type="string">aep_newsletter_file_export/adobe_campaign/folder_path</argument>
            <argument name="filenameConfigPath" xsi:type="string">aep_newsletter_file_export/adobe_campaign/filename</argument>
            <argument name="schedulerEnabledConfigPath" xsi:type="string">aep_newsletter_file_export/adobe_campaign/scheduler_enabled</argument>
        </arguments>
    </virtualType>
    <virtualType name="NewsletterAdobeCampaignExportService" type="Vaimo\AEPFileExport\Model\Service\Export">
        <arguments>
            <argument name="export" xsi:type="object">Vaimo\AEPNewsletterFileExport\Model\Export\NewsletterSubscribers</argument>
            <argument name="configProvider" xsi:type="object">AdobeCampaignNewsletterConfigProvider</argument>
            <argument name="writerDestination" xsi:type="string">aep_export/adobe_campaign_suscribers.csv</argument>
        </arguments>
    </virtualType>
    <type name="Vaimo\AEPNewsletterFileExport\Console\Command\ProxyWrapper">
        <arguments>
            <argument name="state" xsi:type="object">Magento\Framework\App\State\Proxy</argument>
            <argument name="export" xsi:type="object">NewsletterAdobeCampaignExportService</argument>
        </arguments>
    </type>
    <type name="Vaimo\AEPNewsletterFileExport\Console\Command\Command">
        <arguments>
            <argument name="export" xsi:type="object">Vaimo\AEPNewsletterFileExport\Console\Command\ProxyWrapper\Proxy</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="aep-file-export-adobe-campaign-subscribers" xsi:type="object">Vaimo\AEPNewsletterFileExport\Console\Command\Command</item>
            </argument>
        </arguments>
    </type>
    <type name="Vaimo\AEPNewsletterFileExport\Cron\ExportSubscribers">
        <arguments>
            <argument name="export" xsi:type="object">NewsletterAdobeCampaignExportService</argument>
            <argument name="configProvider" xsi:type="object">AdobeCampaignNewsletterConfigProvider</argument>
        </arguments>
    </type>
</config>
