//
//  Common
//  _____________________________________________

& when (@media-common = true) {
  .product-item-brands {
    font-size: 16px;
    color: #c1c1c1;
    font-weight: normal;
    margin-bottom: 0px;
  }
  .product {
    &.attribute {
      &.product-brands {
        .product-item-brands {
          color: #2f2f2f;
          margin-bottom: 10px;
          display: inline-block;
          vertical-align: top;
          font-size: 24px;
        }
      }
    }
  }
  .mfp-container {
    .product {
      &.attribute {
        &.product-brands {
          .product-item-brands {
            font-size: 16px;
            color: #c1c1c1;
          }
        }
      }
    }
  }
  .navigation {
    li.level0 {
      &[megamenu-parent="true"] {
        .submenu.level0[aria-expanded="true"] {
          min-height: 0;
          padding-bottom: 0px;
        }
        .level1 {
          &[megamenu="true"] {
            > a {
              font-size: 0px !important;
              br {
                display: none;
              }
            }
          }
        }
      }
    }
  }
  .page-products {
    .block.filter {
      .filter-content {
        .filter-attribute-container {
          .filter-options-content {
            .items.am-filter-items-brands {
              li.item {
                span.label {
                  text-transform: initial;
                }
              }
            }
          }
        }
      }
    }
  }
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
  .page-main {
    .product {
      &.attribute {
        &.product-brands {
          .product-item-brands {
            margin-bottom: 15px;
            display: inline-block;
            vertical-align: top;
            font-size: 14px;
          }
        }
      }
      .content-wrap.item-detail {
        .area-content {
          .inner {
            padding-top: 105px;
          }
        }
      }
    }
    .content-wrap.item-detail {
      .area-content {
        .inner {
          .page-title-wrapper.product {
            margin-bottom: 40px;
          }
        }
        .block-variation {
          .product.attribute.gender {
            top: 94px;
          }
        }
      }
    }
  }
}