<?xml version="1.0"?>
<!--
 Copyright (c) Vaimo Group. All rights reserved.
 See LICENSE_VAIMO.txt for license details.
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <adobe_launch>
            <general>
                <enabled>1</enabled>
                <launch_embed_code><![CDATA[<script src="https://assets.adobedtm.com/ee3479216f36/8d36515e9679/launch-1e97565f33e3-staging.min.js" async></script>]]></launch_embed_code>
            </general>
            <user_info>
                <logged_in_region>AEG</logged_in_region>
            </user_info>
        </adobe_launch>
    </default>
    <websites>
        <ot_nl>
            <adobe_launch>
                <user_info>
                    <logged_in_site>OT:AEG:NL:ECOM</logged_in_site>
                </user_info>
            </adobe_launch>
        </ot_nl>
        <ot_fr>
            <adobe_launch>
                <user_info>
                    <logged_in_site>OT:AEG:FR:ECOM</logged_in_site>
                </user_info>
            </adobe_launch>
        </ot_fr>
        <ot_de>
            <adobe_launch>
                <user_info>
                    <logged_in_site>OT:AEG:DE:ECOM</logged_in_site>
                </user_info>
            </adobe_launch>
        </ot_de>
        <ot_it>
            <adobe_launch>
                <user_info>
                    <logged_in_site>OT:AEG:IT:ECOM</logged_in_site>
                </user_info>
            </adobe_launch>
        </ot_it>
        <ot_gb>
            <adobe_launch>
                <user_info>
                    <logged_in_site>OT:AEG:GB:ECOM</logged_in_site>
                </user_info>
            </adobe_launch>
        </ot_gb>
        <ot_at>
            <adobe_launch>
                <user_info>
                    <logged_in_site>OT:AEG:AT:ECOM</logged_in_site>
                </user_info>
            </adobe_launch>
        </ot_at>
        <ot_pl>
            <adobe_launch>
                <user_info>
                    <logged_in_site>OT:AEG:PL:ECOM</logged_in_site>
                </user_info>
            </adobe_launch>
        </ot_pl>
        <ot_es>
            <adobe_launch>
                <user_info>
                    <logged_in_site>OT:AEG:ES:ECOM</logged_in_site>
                </user_info>
            </adobe_launch>
        </ot_es>
        <ot_se>
            <adobe_launch>
                <user_info>
                    <logged_in_site>OT:AEG:SE:ECOM</logged_in_site>
                </user_info>
            </adobe_launch>
        </ot_se>
        <ot_ru>
            <adobe_launch>
                <user_info>
                    <logged_in_site>OT:AEG:RU:ECOM</logged_in_site>
                </user_info>
            </adobe_launch>
        </ot_ru>
        <ot_fi>
            <adobe_launch>
                <user_info>
                    <logged_in_site>OT:AEG:FI:ECOM</logged_in_site>
                </user_info>
            </adobe_launch>
        </ot_fi>
        <ot_be>
            <adobe_launch>
                <user_info>
                    <logged_in_site>OT:AEG:BE:ECOM</logged_in_site>
                </user_info>
            </adobe_launch>
        </ot_be>
        <ot_ie>
            <adobe_launch>
                <user_info>
                    <logged_in_site>OT:AEG:IE:ECOM</logged_in_site>
                </user_info>
            </adobe_launch>
        </ot_ie>
        <ot_pt>
            <adobe_launch>
                <user_info>
                    <logged_in_site>OT:AEG:PT:ECOM</logged_in_site>
                </user_info>
            </adobe_launch>
        </ot_pt>
        <ot_dk>
            <adobe_launch>
                <user_info>
                    <logged_in_site>OT:AEG:DK:ECOM</logged_in_site>
                </user_info>
            </adobe_launch>
        </ot_dk>
        <ot_za>
            <adobe_launch>
                <user_info>
                    <logged_in_site>OT:AEG:ZA:ECOM</logged_in_site>
                </user_info>
            </adobe_launch>
        </ot_za>
    </websites>
</config>
