<?xml version="1.0"?>
<!--
 Copyright (c) Vaimo Group. All rights reserved.
 See LICENSE_VAIMO.txt for license details.
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Vaimo\OTAdobeDataLayer\Api\ConfigInterface"
                type="Vaimo\OTAdobeDataLayer\Model\Config"/>
    <preference for="Vaimo\OTAdobeDataLayer\Api\DataLayerProviderInterface"
                type="Vaimo\OTAdobeDataLayer\Model\DataLayer\Provider"/>
    <preference for="Vaimo\OTAdobeDataLayer\Api\Data\DataLayerResponseInterface"
                type="Vaimo\OTAdobeDataLayer\Model\DataLayer\Response"/>

    <type name="Vaimo\OTAdobeDataLayer\Model\DataLayer\Provider">
        <arguments>
            <argument name="dataLayerComponents" xsi:type="array">
                <item name="userInfo" xsi:type="object">Vaimo\OTAdobeDataLayer\Model\DataLayer\Component\UserInfo</item>
            </argument>
        </arguments>
    </type>

    <type name="Vaimo\OTAdobeDataLayer\Model\DataLayer\Provider">
        <arguments>
            <argument name="dataLayerComponents" xsi:type="array">
                <item name="pageInfo" xsi:type="object">Vaimo\OTAdobeDataLayer\Model\DataLayer\Component\PageInfo</item>
            </argument>
        </arguments>
    </type>
    <preference for="Magento\Wishlist\Controller\Index\Remove" type="Vaimo\OTAdobeDataLayer\Preference\WishList\Controller\Index\Remove" />
    <preference for="Magento\CatalogSearch\Controller\Result\Index" type="Vaimo\OTAdobeDataLayer\Preference\CatalogSearch\Controller\Result\Index" />
    <type name="Magento\Checkout\Model\ShippingInformationManagement">
        <plugin name="set_checkout_shipping_data" type="Vaimo\OTAdobeDataLayer\Plugin\Checkout\Model\ShippingInformationManagement" />
    </type>
</config>
