<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <general>
            <telephone_prefix>
                <enable>1</enable>
            </telephone_prefix>
            <telephone_prefix>
                <number>66</number>
                <validate_number>9</validate_number>
            </telephone_prefix>
        </general>
    </default>
</config>
