<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="sizechart" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Size Guide</label>
            <tab>onitsukatiger</tab>
            <resource>OnitsukaTiger_SizeGuide::config_fledge_SizeGuide</resource>
            <group id="select_size_chart" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Select size chart product group wise</label>
                <field id="product_group_blocks" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Product Group to CMS Block Mapping</label>
                    <frontend_model>OnitsukaTiger\SizeGuide\Block\Adminhtml\System\Config\Form\Field\ProductGroupCmsMap</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                </field>
            </group>
        </section>
    </system>
</config>
