<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="\Amasty\Storelocator\Block\Location">
        <plugin name="locationDataMarker" type="OnitsukaTiger\Storelocator\Plugin\Block\Location" />
    </type>
    <type name="\Amasty\Storelocator\Model\ImageProcessor">
        <plugin name="imageProcessorLocator" type="OnitsukaTiger\Storelocator\Plugin\Model\ImageProcessor" />
    </type>
    <preference for="Amasty\Storelocator\Model\ConfigHtmlConverter" type="OnitsukaTiger\Storelocator\Model\ConfigHtmlConverter" />
</config>
