<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <send_email_warehouse>
            <module>
                <type>1</type>
            </module>
            <general>
                <enabled>1</enabled>
                <template>sendEmailWareHouse_general_template</template>
            </general>
        </send_email_warehouse>
    </default>
</config>
