// @codingStandardsIgnoreFile
//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    #html-body{
        .homepage-bannerslider-main{
            width: 99%;
            .pagebuilder-column{
                justify-content: flex-start;
                display: flex;
                flex-direction: column;
                width: 50%;
                align-self: center;
                margin: 0 auto;
                text-align: center;
            }
        }
    }
   /*kr-font-*/
    .footer-box-wrapper-container {
        .footer-bussiness-wrapper{
            font-family: 'Matter , sans-serif' !important;
        }
    }
    .popup-search-slider-1{
        .block-title{
            font-family: 'Noto Sans KR';
        }
    }
   .cms-index-index{
        .homepage-categories.kr-font{
            .pagebuilder-column p a{
                font-family: 'Noto Sans KR';
            }
        }
        .promotion-banner-slider .font-notosans-kr > p strong {
            font-family: 'Matter , sans-serif';
        }
        .homepage-categories{
            h3{
                font-family: 'Noto Sans KR';
            }
        }
        .homepage-container{
            .main-box{
                .slider-product{
                    .widget.block-products-list{
                        .block-title{
                            font-family: 'Noto Sans KR';
                            strong{
                                font-family: 'Noto Sans KR';
                            }
                        }
                    }
                }
            }
        }
        .homepage-bannerslider-main{
            .pagebuilder-column{
                .pagebuilder-button-primary{
                    font-family: 'Noto Sans KR';
                }
            }
        }
   }
    .customer-account-create{
        .account{
            .fieldset>.field select{
                font-family: 'Noto Sans KR';
            }
        }
    }
    .customer-account-edit{
        .main{
            .fieldset>.field select{
                font-family: 'Noto Sans KR';
            }
        }
    }
    .homepage-bannerslider-main .pagebuilder-column .pagebuilder-button-primary tt:after{
        display:none;
    }
    .modal-popup.modal-popup.address-edit-popup .modal-title{
        font-family: 'Noto Sans KR';
    }
    .modal-popup.modal-popup.address-edit-popup  button{
        font-family: 'Noto Sans KR';
    }
    .address-books-lists .address-books-item.new-address-button .action.primary{
        font-family: 'Noto Sans KR';
    }
    .page-header{
        .header{
            .links{
                .link-header.store-help-link,
                .link-store-details,
                .my-account-link,
                .link-wishlist-destop{
                    font-family: 'Noto Sans KR';
                }
            }
        }
    }
    .page-wrapper{
        .page-header{
            .page-header-block-center{
                .links-mobile{
                    font-family: 'Noto Sans KR';
                }
                .navigation-store-links{
                    .store-help-link,
                    .link-store-details{
                        font-family: 'Noto Sans KR';
                    }
                }
            }
        }
    }
    .page-footer{
        .footer.content{
            .left-menu{
                .footer-nav-list{
                    h4{
                        font-family: 'Noto Sans KR';
                    }
                }
            }
            ul{
                a{
                    font-family: 'Noto Sans KR';
                }
            }
        }
    }
    .footer-box-wrapper-container{
        .footer-bussiness-wrapper{
            font-family: 'Noto Sans KR';
        }
    }
    .view-all{
        font-family: 'Noto Sans KR';
    }
    .korean-text {
      font-family: 'Noto Sans KR';
    }
    .page-wrapper{
        .header.content{
            .block-minicart{
                .block-content{
                    > .actions .action.viewcart{
                        font-family: 'Noto Sans KR';
                    }
                    > .actions > .primary .action.primary{
                        font-family: 'Noto Sans KR';
                    }
                }
            }
            .minicart-items{
                .product-item-details{
                    .details-qty{
                        label{
                            font-family: 'Noto Sans KR';
                        }
                    }
                }
                .items-total{
                    font-family: 'Noto Sans KR';
                }
                .subtotal{
                    .label{
                        font-family: 'Noto Sans KR';
                    }
                }
                .update-cart-item{
                    font-family: 'Noto Sans KR';
                }
            }
            .subtotal{
                .label{
                    font-family: 'Noto Sans KR';
                }
            }
            .items-total{
                font-family: 'Noto Sans KR';
            }
        }
    }

    body.web_kr_ko.catalog-product-view{
        .text-size-custom.visible-label{
            font-family: 'Noto Sans KR';
        }
    }
    .catalog-product-view{
        .page-wrapper{
            .content-wrap.item-detail{
                .area-content{
                    .product.attribute.gender{
                        font-family: 'Noto Sans KR';
                    }
                    .product.attribute.sku{
                        strong{
                            font-family: 'Noto Sans KR';
                        }
                    }
                    #show_modal_description{
                        font-family: 'Noto Sans KR';
                    }
                    .box-tocart{
                        .action.primary{
                            font-family: 'Noto Sans KR';
                        }
                        .box-guide{
                            span{
                                font-family: 'Noto Sans KR';
                            }
                        }
                    }
                }
                .swatch-attribute{
                    .swatch-attribute-label{
                        font-family: 'Noto Sans KR';
                    }
                }
            }
            .product-info-main{
                .box-tocart{
                    .field.qty{
                        label.label{
                            font-family: 'Noto Sans KR';
                        }
                    }
                }
            }
        }
    }

    .checkout-cart-index{
        .cart-summary{
            .cart-totals{
                .table-wrapper{
                    tbody tr .mark{
                        font-family: 'Noto Sans KR';
                    }
                }
            }
        }
        .modal-popup.confirm{
            .modal-title{
                font-family: 'Noto Sans KR';
            }
            .modal-content{
                font-family: 'Noto Sans KR';
            }
            button.action-dismiss{
                font-family: 'Noto Sans KR';
            }
            button.action-accept{
                font-family: 'Noto Sans KR';
            }
        }
    }

    .checkout-index-index{
        .opc-block-summary > .title{
            font-family: 'Noto Sans KR';
        }
        .no-quotes-block{
            font-family: 'Noto Sans KR';
        }
        .opc-block-summary .table-totals tr.grand.totals .mark strong{
            font-family: 'Noto Sans KR';
        }
        .gift-package h3{
            font-family: 'Noto Sans KR';
        }
        div.mage-error{
            font-family: 'Noto Sans KR';
        }
        div.checkout-container{
            .checkout-payment-method{
                .payment-method-content>.actions-toolbar>.primary{
                    .kakaopay-submit-button{
                        font-family: 'Noto Sans KR';
                    }
                }
            }
        }
        .swdkpostcode-ico button {
            font-family: 'Noto Sans KR';
        }
        .opc-wrapper .required_fields_txt{
            font-family: 'Noto Sans KR';
        }
        .swdkpostcode-ico{
            font-family: 'Noto Sans KR';
        }
        .opc-progress-bar-item > span{
            font-family: 'Noto Sans KR';
        }
        .opc-wrapper{
            .step-title{
                font-family: 'Noto Sans KR';
            }
            .fieldset > .field > .label{
                font-family: 'Noto Sans KR';
            }
            .fieldset.address .field.street > .control .field > .label{
                font-family: 'Noto Sans KR';
            }
            .fieldset#customer-email-fieldset{
                .field > .label{
                    font-family: 'Noto Sans KR';
                }
            }
            .fieldset.address .field select{
                font-family: 'Noto Sans KR';
            }
            .checkout-shipping-address .actions-toolbar div.primary .primary {
                width: 100%;
                font-family: 'Noto Sans KR';
            }
            #isLogedCheck{
                .login-guest-content{
                    font-family: 'Noto Sans KR';
                }
            }
        }
        .opc-progress-bar-item > span{
            font-family: 'Noto Sans KR';
        }
        .column.main{
            .opc-block-summary{
                .product-item{
                    .item-options{
                        dt{
                            font-family: 'Noto Sans KR';
                        }
                    }
                    .details-qty span.label{
                        font-family: 'Noto Sans KR';
                    }
                }
                .table-totals th{
                    font-family: 'Noto Sans KR';
                }
            }
            .gift-package{
                font-family: 'Noto Sans KR';
            }
        }
        .checkout-payment-method .payment-method-content{
            font-family: 'Noto Sans KR';
        }
        .opc-payment .payment-method .payment-method-title label{
            font-family: 'Noto Sans KR';
        }
        .opc-payment .payment-method .payment-method-title label{
            font-family: 'Noto Sans KR';
        }
        .opc-payment .payment-method .payment-method-title label[for=cashondelivery],
        .opc-payment .payment-method .payment-method-title label[for=kakaopay]{
            font-family: 'Matter , sans-serif';
        }
        .checkout-payment-method .actions-toolbar div.primary .primary{
            font-family: 'Noto Sans KR';
        }
    }
    /*kr-font-end*/
    .coming-soon{
        text-transform: uppercase;
    }
    .page-with-filter{
        .product-coming-soon:not(:empty){
            border: 1px solid #212322;
            padding: 2px 5px;
            font-weight: normal;
            margin-top: 10px;
            text-transform: uppercase;
            font-size: 12px;
            color:#212322;
        }
    }
    .catalog-product-view,
    .catalog-category-view{
        .coming-soon-label:not(:empty){
            border: 1px solid #000;
            width: 100%;
            float: left;
            text-align: center;
            font-size: 15px;
            line-height: 44px;
            margin-top: 5px;
            margin-bottom: 10px;
        }
    }
    .mfp-content.catalog-product-view{
        .coming-soon-label:not(:empty){
            margin-top: 0;
            margin-bottom: 0;
        }
    }
    .page-wrapper{
        .page-footer-hader{
            .page-footer{
                .footer.content{
                    .left-menu{
                        .footer-nav-list{
                            h4.mobile-acc{
                                float: left;
                                width: auto;
                                &:before, &:after{
                                    display: none;
                                }
                                a{
                                    padding: 10px 0px;
                                }
                                a:active{
                                    color: #000;
                                    text-decoration: none;
                                }
                            }
                            h4.mobile-not-redirect{
                                float: right;
                                width: 40px;
                                font-size: 0;
                            }
                        }
                    }
                }
            }
        }
    }
    .colorred {
        color: red !important;
    }
    .web_kr_ko.catalog-product-view{
        .page-wrapper{
            .content-wrap.item-detail{
                .area-content{
                    .box-tocart{
                        .box-guide{
                                display: block !important;
                        }
                    }
                }
            }
        }
    }
    .page-products{
        .block.filter{
            .filter-content{
                .filter-attribute-container{
                    .filter-options-content{
                        .items{
                            li.item{
                                input[type=checkbox]{
                                    display: block !important;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .new-product-slider{
        margin: 80px auto 90px;
        .swiper-container{
            width: 93%;
            margin: 0 auto;
        }
        .block-content{
            position: relative;
            div[class*=swatch-opt]{
                display: none;
            }
        }
        h3{
            font-weight: 400;
            font-size: 33px;
            letter-spacing: .1em;
            text-transform: uppercase;
            color: #212322;
            margin-bottom: 44px;
            margin-top: 0;
            font-family: 'Matter , sans-serif';
        }
        .view-all{
            margin-top: 40px;
        }
        .widget.block-products-list{
            .block-content{
                .product-item-name{
                    font-size: 13px;
                    letter-spacing: 0.1em;
                    margin-top: 16px;
                }
            }
            .widget-product-grid{
                .product-item{
                    margin-left: 0px!important;
                    &:last-child{
                        margin-right: 0px!important;
                    }
                }
            }
        }
        div[data-content-type='tabs']{
            .tabs-content{
                border: none;
            }
            .tabs-navigation{
                margin: 0px 0 60px 0!important;
                li.tab-header{
                    border: none;
                    border-bottom: 1px solid #d9d9d9;
                    background: #fff;
                    a.tab-title{
                        padding: 11px 20px;
                        font-size: 20px;
                        line-height: 24px;
                    }
                }
                li.tab-header.ui-state-active{
                    border-bottom: 1px solid #000;
                    z-index: 1;
                }
            }
        }

        .button-prev, .button-next{
            border-radius: 50px;
            width: 44px;
            height: 44px;
            border: 1px solid #212322;
            background: rgba(255, 255, 255, 0.7);
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all 0.35s ease-in-out;
            position: absolute;
            z-index: 1;
            cursor: pointer;
            top: -12%;
            bottom: 0;
            margin-top: auto;
            margin-bottom: auto;
        }
        .button-prev.swiper-button-disabled, .button-next.swiper-button-disabled{
            pointer-events: none;
            opacity: 0;
        }
        .button-prev:hover, .button-next:hover{
            background: #212322;
            color: #fff;
        }
        .button-prev:hover:before,
        .button-next:hover:before{
            color: #fff;
        }
        .button-prev:before, .button-next:before{
            font-size: 18px;
            color: #000;
            font-family: 'pagebuilder-font';
        }
        .button-prev:before {
            content: '\f103';
        }
        .button-next:before {
            content: '\f102';
        }
        .button-next img,
        .button-prev img{
            display: none;
        }
        .button-prev{
            left: 0;
        }
        .button-next{
            right: 0;
        }
    }
    .view-all{
        text-align: center;
        a{
            color: #fff;
            padding: 15px 40px;
            font-weight: 700;
            font-size: 14px;
            line-height: 14px;
            letter-spacing: .05em;
            text-transform: uppercase;
            background: #212322;
            border-radius: 60px;
            border: 1px solid #000;
            display: inline-block;
            transition: all .35s ease-in-out;
            &:after{
                content: '\f102';
                font-family: 'pagebuilder-font';
                display: inline-block;
                vertical-align: middle;
                margin-left: 10px;
                font-size: 1rem;
                position: relative;
                top: -1px;
            }
            &:hover {
                color: #212322;
                background: #fff;
                text-decoration: none;
            }
        }
    }

    .cms-index-index{
        .main-box{
            .slider-product{
                .widget.block-products-list{
                    .block-content{
                        .button-prev,
                        .button-next{
                            border-radius: 50px;
                            width: 44px;
                            height: 44px;
                            border: 1px solid #212322;
                            background: rgba(255,255,255,.7);
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            transition: all .35s ease-in-out;
                            &:before,
                            &:after{
                                font-size: 18px;
                                font-family: 'pagebuilder-font';
                            }
                            img{
                                display: none;
                            }
                        }

                        .button-prev{
                            &:before{
                                content: '\f103';
                                &:before{
                                    color: #fff;
                                }
                            }
                            &:hover{
                                background: #212322;
                                color: #fff;
                                &:before{
                                    color: #fff;
                                }
                            }
                        }
                        .button-next{
                            &:before{
                                content: '\f102';
                                &:before{
                                    color: #fff;
                                }
                            }
                            &:hover{
                                background: #212322;
                                &:before{
                                    color: #fff;
                                }
                            }
                        }
                    }
                }
            }
        }

        [data-content-type='row'][data-appearance='contained']{
            margin: 0 auto;
            max-width: 1370px;
        }
    }
    .homepage-bannerslider-main.promotion-banner-slider-reverse{
        .pagebuilder-column-group{
            width: 99%!important;
            flex-direction: row-reverse;
        }        
    }
    .homepage-bannerslider-main{
        .slick-prev:before, .slick-next:before{
            height: auto;
            width: auto;
            font-size: 18px;
            justify-content: center;
            color: #212322;
            display: flex;
            padding: 0;
        }
        .slick-arrow{
            background: 0 0;
            border-radius: 50px;
            width: 44px;
            height: 44px;
            border: 1px solid #212322;
            background: rgba(255,255,255,.7);
            transition: all .35s ease-in-out;
            .slick-prev:before{
                content: '\f103';
            }
            .slick-next:before{
                content: '\f102';
            }
            &:hover{
                background: #212322;
                &:before{
                    color: #fff;
                }
            }
        }
        ul.slick-dots {
            position: absolute;
            bottom: 12px;
            padding: 0;
            li{
                width: 10px;
                height: 10px;
                button{
                    width: 10px;
                    height: 10px;
                    background: 0 0;
                    margin: 0;
                    border: 1px solid #212322;
                }                
            }
            li.slick-active button{
                background: #212322;
            }            
        }        
        .pagebuilder-column{
            h3 {
                font-size: 4rem;
                line-height: 48px;
                letter-spacing: .03em;
                font-weight: 400;
                margin-bottom: 20px;
                font-family: 'Matter , sans-serif';
                max-width: 382px;
                margin:1.5rem auto 20px auto;
            }
            p {
                max-width: 382px;
                margin: 0 auto;
                margin-bottom: 0;
                letter-spacing: .05em;
                font-size: 14px;
                font-weight: 500;
                line-height: 25px;
            }
            .pagebuilder-button-primary{
                font-weight: 500;
                font-size: 14px;
                line-height: 14px;
                letter-spacing: .05em;
                text-transform: uppercase;
                background: #212322;
                display: inline-block;
                border-radius: 60px;
                padding-top: 18px;
                padding-bottom: 18px;
                border: 1px solid #000;
                color: #fff;
                transition: all .35s ease-in-out;
                margin-top: 60px;
                max-width: 382px;
                min-width: 382px;
                width: 100%;
                cursor: pointer;
                font-weight: 600;
                font-family: 'Matter-Bold';
                &:hover {
                    color: #212322;
                    background: #fff;
                    text-decoration: none;
                }
                :after {
                    content: '\f102';    
                    font-family: 'pagebuilder-font';
                    display: inline-block;
                    vertical-align: middle;
                    margin-left: 10px;
                    font-weight: 600;
                    font-size: 1rem;
                    position: relative;
                    top: -1px;
                }
            }
        }
        .pagebuilder-column-group{
            display: flex !important;
            align-items: center;
        }        
    }

    //categories//
    .homepage-categories{
        margin: 150px 0 0 0 !important;
        h3 {
            margin: 0 7.5px 20px;
            font-family: 'Matter-Bold';
            font-weight: 600;
            font-size: 2.4rem;
            text-transform: uppercase;
            color: #212322;
            line-height: 24px;
            letter-spacing: .03em;
        }
        img {
            width: 100%;
            display: block;
        }
        .pagebuilder-column{
            padding: 7.5px;
            p{
                a{
                text-transform: none;
                margin-top: 10px;
                font-weight: 600;
                font-size: 16px;
                color: #212322;
                line-height: 16px;
                letter-spacing: .05em;
                display: block;
                }
            }
        }
    }
    
}    


@media only screen and (min-width: 1024px) {
    .homepage-bannerslider-main{
        height: 690px;
        overflow: hidden;
        margin-bottom: 2px;
    }
    .homepage-bannerslider-main.promotion-banner-slider-reverse{
        .pagebuilder-column-group{
            flex-direction: row-reverse;
        }
    }

}

@media only screen and (max-width: 1023px) {
    .cms-index-index{
        [data-content-type='row'][data-appearance='contained']{
            min-width: auto;
            width: 100%;
        }
    }
    #html-body{
        .homepage-bannerslider-main{
            width: 100%;
            .pagebuilder-column{
                width: 100%;
            }
        }
    }
    .homepage-bannerslider-main.promotion-banner-slider-reverse{
        .pagebuilder-column-group{
            width: 100% !important;
        }
    }
    .homepage-bannerslider-main{
        margin-bottom: 65px;
        .slick-prev:before,
        .slick-next:before{
            color: #fff;
        }
        .slick-next {
            right: -5px;
        }        
        .slick-prev {
            left: -5px;
        }        
        .slick-arrow{
            border: none;
            background: none;
            top: 30%;
            &:hover{
                background: none;
            }
        }        
        ul.slick-dots{
            position: inherit;
            bottom: inherit;
            margin-top: 27px;
        }        
        .pagebuilder-column-group{
            flex-wrap: wrap;
        }        
        .slick-track{
            align-items: flex-start;
        }
        .pagebuilder-column{
            h3{
                font-size: 2.2rem;
                margin-bottom: 10px !important;
                margin-top: 20px !important;
                padding-left: 20px;
                padding-right: 20px;
                line-height: 22px;
                font-weight: 600;
                font-family: 'Matter-Bold';
            }
            p{
                font-size: 12px;
                padding-left: 20px;
                padding-right: 20px;
            }            
            .pagebuilder-button-primary{
                min-width: 185px;
                padding-top: 12px;
                padding-bottom: 12px;
                margin-top: 30px;
                margin-right: 0;
            }
        }
    }

    .homepage-categories{
        padding-left: 20px;
        padding-right: 20px;
        margin: 80px 0;
        h3{
            font-size: 22px;
            margin-left: 0;
            line-height: 22px;
        }
        .pagebuilder-column{
            width: 100% !important;
            padding: 0;
            grid-gap: 20px;
            p{
                a{
                    font-size: 12px;
                    margin-top: -10px;
                }                
            }
        }
        .pagebuilder-column-group{
            display: grid !important;
            grid-template-columns: repeat(2, minmax(0, 1fr));
            grid-gap: 20px;
        }
    }
}

@media only screen and (max-width: 767px) {
    .cms-index-index{
        .page-wrapper{
            .main-box{
                .slider-product{
                    .widget.block-products-list{
                        .button-prev{
                            left: -10px;
                        }
                        .button-next{
                            right: -10px;
                        }
                        .button-prev,
                        .button-next{
                            width: 31px !important;
                            height: 31px !important;
                            &:before{
                                font-size: 12px !important;
                                color: #000 !important;
                            }
                            &:hover{
                                background: none;
                                color: #000 !important;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 768px){
    .new-product-slider{
        div[data-content-type='tabs']{
            .tabs-navigation{
                margin-bottom: 50px!important;
                li.tab-header{
                    a.tab-title{
                        font-size: 16px;
                        padding: 4px 15px 15px;
                    }
                }
            }
            .tabs-navigation{
                border-bottom: 1px solid #d9d9d9;
                li.tab-header{
                    top: 1px;
                }
            }
        }
        .widget.block-products-list{
            .widget-product-grid{
                .product-item{
                    margin-bottom: 20px;
                }
                .product-item:nth-child(n+7){
                    display: none!important;
                }
            }
        }
        .swiper-wrapper{
            transform: none !important;
            display: grid;
            grid-template-columns: repeat(2, minmax(0, 1fr));;
            grid-gap: 15px;
        }
        .button-prev,
        .button-next{
            display: none;
        }
    }
    .cms-index-index {
        .new-product-slider{
            .block.widget{
                .products-grid{
                    .product-item{
                        width: 100% !important;
                        margin-right: 0 !important;
                    }
                }
            }
        }
    }
    .catalog-product-view,
    .catalog-category-view{
        .coming-soon-label:not(:empty){
            margin-top: 10px;
        }
    }
    .mfp-content.catalog-product-view{
        .coming-soon-label:not(:empty){
            margin-top: 0;
        }
    }
}

@media only screen and (min-width: 769px){
    .new-product-slider{
        .tabs-content{
            overflow: hidden;
            max-height: 510px;
        }
        .swiper-container{
            width: 94%;
        }
        .block.widget{
            .products-grid{
                .product-items{
                    display: block;
                    text-align: center;
                    white-space: nowrap;
                }
                .product-item{
                   width: ~"calc(25% - 30px)";
                   margin-right: 40px;
                }
            }
        }
    }
    .page-wrapper{
        .page-footer-hader{
            .page-footer{
                .footer.content{
                    .left-menu{
                        .footer-nav-list{
                            h4.mobile-acc{
                                display: none;
                            }
                            h4.mobile-not-redirect{
                                width: 100%;
                                font-size: 11px;
                            }
                        }
                    }
                }
            }
        }
    }
}